/**** background section ****/
* { margin: 0;
    padding: 0; }
html {
  background: white;
}
a:focus, a:hover {
	font-style: italic; }
/****** header ******/
header {
  padding: 10em 5em;
  border-bottom: 2px solid white;
}
.header--text--before {
  background-image: url(https://images.unsplash.com/photo-1528043036718-54121250d8f3?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
header h1 {
  font-family: 'Sniglet', cursive;
  font-size: 250%;
  color: #904E55;
  text-shadow: 2px 4px 2px #564E58;
  margin-top: -3em;
  text-align: center;
}
.text-center {
  text-align: center; }

/****** navigation menu ******/
.nav_menu {
	list-style-type: none;
	text-align: center;
	padding: 15px;
}
ul {
  list-style-type: none;
  overflow: hidden;
}
li {
    display: inline;
    text-align: center;
    font-weight: bold;
    padding: 5px 5px;
    text-decoration: none;
    float: center;
}
li a {
  display: inline;
  text-decoration: none;
  padding: 14px 16px;
  color: white;
}

li a:hover:not(.current) {
  background-color: #afa47e;
}
.current {
  background-color: #564E58;
}

/****** body ******/
body {
    font-family: 'Varela Round', sans-serif;
    font-size: 100%;
    width: auto;
    background-color: white;
}

/**** styles for the footer ****/
footer {
    clear: both;
    border-top: 2px solid #808080;
    padding: .6em;
    text-align: center;
}